<h1>Course Manager</h1>

<% if @user %>
	<%= image_tag 'http://placehold.it/300x300' %>

	<p>'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla tincidunt nibh, vel mattis magna accumsan quis. Duis nec fringilla libero. Nam faucibus at tellus vel dictum. Morbi nec imperdiet eros. Cras egestas at nulla sed tincidunt. Donec venenatis risus non neque commodo pharetra. Morbi et cursus ex. Duis vel scelerisque nisi. Nulla commodo ac eros sit amet finibus.

	Phasellus finibus aliquam mattis. Duis id erat ac nisi semper gravida vel vitae velit. Sed pretium lacinia risus ut ullamcorper. Duis venenatis porta leo, ut congue justo placerat vitae. Aenean blandit, sapien quis facilisis egestas, lacus mi semper quam, ut mollis nulla velit quis tellus. Vestibulum aliquet metus eu nulla ornare, id consectetur sem lobortis. Duis facilisis nibh in lacus malesuada, id suscipit enim pulvinar. Nunc hendrerit erat eu nunc tristique euismod. Nam ut pulvinar arcu, nec maximus ligula. Ut convallis sagittis augue ut porttitor. Integer condimentum dui quis pellentesque posuere. Donec in felis aliquet nunc feugiat tempus. Aliquam enim urna, maximus et consequat vitae, hendrerit in orci. Donec ut venenatis arcu. Etiam laoreet massa tortor, nec ultricies orci porta a. Nulla mauris orci, fermentum vel finibus eu, commodo a enim.'</p>
<% end %>