<h1>Course Manager</h1>

<% if @user %>
	<div id='my_image'>
	<%= image_tag 'rise.jpg' %>
	</div>

	<p>'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla tincidunt nibh, vel mattis magna accumsan quis. Duis nec fringilla libero. Nam faucibus at tellus vel dictum. Morbi nec imperdiet eros. Cras egestas at nulla sed tincidunt. Donec venenatis risus non neque commodo pharetra. Morbi et cursus ex. Duis vel scelerisque nisi. Nulla commodo ac eros sit amet finibus.

	Phasellus finibus aliquam mattis. Duis id erat ac nisi semper gravida vel vitae velit. Sed pretium lacinia risus ut ullamcorper. Duis venenatis porta leo, ut congue justo placerat vitae. Aenean blandit, sapien quis facilisis egestas, lacus mi semper quam, ut mollis nulla velit quis tellus. Vestibulum aliquet metus eu nulla ornare, id consectetur sem lobortis. Duis facilisis nibh in lacus malesuada, id suscipit enim pulvinar. Nunc hendrerit erat eu nunc tristique euismod. Nam ut pulvinar arcu, nec maximus ligula. Ut convallis sagittis augue ut porttitor. Integer condimentum dui quis pellentesque posuere. Donec in felis aliquet nunc feugiat tempus. Aliquam enim urna, maximus et consequat vitae, hendrerit in orci. Donec ut venenatis arcu. Etiam laoreet massa tortor, nec ultricies orci porta a. Nulla mauris orci, fermentum vel finibus eu, commodo a enim.' Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim eget massa at porttitor. Curabitur volutpat, nulla nec ultricies semper, urna odio vehicula erat, in laoreet est est quis odio. Etiam sed metus id dolor fringilla rutrum. Sed et congue nulla, aliquam bibendum nisi. Vestibulum ut elit consectetur, sodales tortor in, blandit nibh. Aliquam sed dignissim augue, ultricies ultricies massa. Maecenas suscipit, quam eu vestibulum commodo, purus eros auctor tortor, nec efficitur lectus lorem id velit. Maecenas in tellus eu orci efficitur ornare. Maecenas volutpat quam metus, eget convallis quam tempus ac. Nam commodo risus augue, eget elementum tellus tempus ut. Suspendisse iaculis tincidunt nunc, accumsan finibus velit faucibus aliquet. Pellentesque mollis rutrum ante, vel bibendum felis luctus vel. Mauris ac arcu a elit commodo hendrerit nec quis mauris. Integer efficitur erat velit, et laoreet ligula porttitor sed. Sed sit amet dictum odio. Proin tempus sapien in consectetur mattis. Nulla aliquam libero a massa sollicitudin imperdiet. Nunc iaculis maximus lectus, a congue nibh semper et. Mauris efficitur ultricies nisl nec ultricies. Cras hendrerit risus libero. Vestibulum nec lectus feugiat, scelerisque nisi sit amet, maximus massa. Ut malesuada aliquet urna, at cursus dolor tincidunt id.</p>

	<footer>
	<h2>Jack Williams | Cloud Computing 2017 | Copyright</h2>
	</footer>
<% end %>